
*.iml
*.xml
*.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/build.make
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/C.includecache
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/depend.internal
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/depend.make
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/File_interactions/files.c.obj
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/flags.make
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/Huffman_tree/huffman_tree_creation.c.obj
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/includes_C.rsp
cmake-build-debug/CMakeFiles/HuffmanProject_LaTeam.dir/link.txt
*.rsp
*.obj
*.a
*.make
cmake-build-debug/CMakeFiles/Makefile2
*.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/HuffmanProject_LaTeam.cbp
cmake-build-debug/HuffmanProject_LaTeam.exe
cmake-build-debug/Makefile
CMakeLists.txt
